<div class="question1">
  <label for="ssss">What is Your name</label>
  <input required value="<%= article.question1 %>" type="text" name="question1" id="uestion1" class="form-control">
</div>
<div class="question2">
  <label for="ssss">What is your last name?</label>
  <input required value="<%= article.question2 %>" type="text" name="question2" id="question2" class="form-control">
</div>
<div class="question3">
  <label for="ssss">Do you like this class?</label>
  <input required value="<%= article.question3 %>" type="text" name="question3" id="question3" class="form-control">
</div>
<div class="question4">
  <label for="ssss">What has been your favorite part?</label>
  <input required value="<%= article.question4 %>" type="text" name="question4" id="question4" class="form-control">
</div>
<div class="question5">
  <label for="ssss">How could this class change in the future?</label>
  <input required value="<%= article.question5 %>" type="text" name="question5" id="question5" class="form-control">
</div>
<div class="question6">
  <label for="ssss">Do you think its fair to have all levels of coding experience to take this class?</label>
  <input required value="<%= article.question6 %>" type="text" name="question6" id="question6" class="form-control">
</div>
<div class="question7">
  <label for="ssss">Do you think that a classroom setting will work better for you?</label>
  <input required value="<%= article.question7 %>" type="text" name="question7" id="question7" class="form-control">
</div>
<div class="question8">
  <label for="ssss">If so, then Why?</label>
  <input required value="<%= article.question8 %>" type="text" name="question8" id="question8" class="form-control">
</div>

<a href="/" class="btn btn-secondary">Go Back To Home</a>
<button type="submit" class="btn btn-primary">Save and exit</button>